
         /* For tablets: */
@media screen and (max-width: 768px)  {
      
   header img{
      margin-left: 5vw;
   }
   
   #pag-principal button{
      padding: 24px;
      margin: 20px 0px 0px;
    }
    
    #pag-principal .btn-azul{
      height: 15vh;
      width: 40vw;
    }
    
    #pag-principal .btn-gris{ 
      width: 38vw;
    }

   #pag-agregar-palabra div{
      margin-top: 5vh;
      margin-left: 5vw;
      margin-right: 0;      
      height: 5vh;
    }

    #botones-agregar {
       padding-top: 40vh;
       padding-bottom: 0;
    }

    #botones-agregar button{
      padding: 3vh 6vw;    
      margin-top: -10px;
      font-size: 12px;    width: 49%;
      font-weight: bold;
    }
    
    #pag-jugar-02{
      width: 90%;
      margin: 0 auto;
   }
    #pag-jugar .btn-azul{
      width: 49%;
    }

    #pag-jugar .btn-gris{
      width: 49%;
   }
 

 }

   
 

